# Docker configuration file for ignoring paths while collecting context.
#
# For more information, visit 
# https://codefresh.io/docker-tutorial/not-ignore-dockerignore-2/.

.env
.git/
.github/
.gitignore
.mypy_cache/
.pre-commit-config.yaml
.pytest_cache/
.tox/
.venv/
*.egg-info
**/__pycache__/
dist/
poetry.lock
