.benchmarks/
.coverage
.DS_Store
.env
.mypy_cache/
.pytest_cache/
.tox/
.venv/
.vscode/
*.pyc
**/__pycache__/
**/.ipynb_checkpoints/
**/*.egg-info/
**/nohup.out
dist/
docs/changelog.md
docs/index.md
docs/license.md
docs/reference/cli.md
node_modules/
package-lock.json
poetry.lock
scripts/.cache/
site/
