# Git configuration file for ignoring untracked paths.
#
# For more information, visit https://git-scm.com/docs/gitignore.

.benchmarks/
.cache/
.coverage
.DS_Store
.env
.hypothesis/
.mypy_cache/
.pytest_cache/
.python-version
.tox/
.venv/
.vscode/
*.ipynb
*.pyc
*.swp
*.tar.gz
*.whl
**/__pycache__/
**/.ipynb_checkpoints/
**/*.egg-info/
**/nohup.out
dist/
docs/api/cli.md
docs/changelog.md
docs/index.md
docs/license.md
environment.yml
f1
flit.ini
node_modules/
nohup.out
package-lock.json
Pipfile
Pipfile.lock
poetry.lock
public/
requirements.lock
requirements.txt
scripts/.cache/
setup.py
site/
tmp/
